version: '3.8'

services: 
  redis_service: 
    image: redis:7.0.11
    container_name: redis_temp
    restart: unless-stopped
    networks:
      - app-network
  
  server: 
    image: letter-to-you
    container_name: sirene
    build: 
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - app-network
    environment:
      - PORT=3000
      - DATABASE_URL_PROD=${DATABASE_URL_PROD}
      - REDIS_HOST=redis_service
      - REDIS_PORT=6379
      - JWT_SECRET=${JWT_SECRET}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_USER=${MAIL_USER}

networks:
  app-network:
    driver: bridge